@font-face {
    font-family: 'League Spartan';
    src: url(assets/league-spartan-master/LeagueSpartan-Bold.otf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Lato';
    src: url(assets/Lato/Lato-Bold.ttf);
    font-style: normal;
    font-weight: normal;
}

* {
    font-family: Lato;
    font-size: 1.1em;
}

h1 {
    font-family: League Spartan;
    font-size: 3.5em;
    text-transform: uppercase;
}

h2 {
    text-transform: uppercase;
    text-align: center;
    font-family: League Spartan;
    font-size: 2.5em;
}

h3 {
    font-family: League Spartan;
    font-size: 1.5em;
    text-transform: uppercase;
}

h4 {
    font-family: League Spartan;
    font-size: 1em;
    text-transform: uppercase;
}

div {
    border-width: 2px;
    border-color: red;
    border-style: solid;
    box-sizing: border-box;
}


/* #navbar {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
} */

#navbar ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

#navbar ul li {
    margin-left: 20px;
    text-decoration: none;
}